<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="./assets/css/style.css" rel="stylesheet" />
  <link href="./assets/css/footer.css" rel="stylesheet" />
  <link href="./assets/css/navbar.css" rel="stylesheet" />
  <link href="./assets/css/contact.css" rel="stylesheet" />
  <link href="./assets/css/team.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="icon" href="./assets/images/favicon.png" type="image/gif" sizes="16x16">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,700&display=swap"
    rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
  <!-- Include Font Awesome Stylesheet in Header -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Sattva-Contact</title>
</head>

<body>

  <section class="main-section contact-header">
    <div class="home-section-overlay">

      <nav class="navbar-container">
        <div class="logo-container">
          <a class="navbar-brand" href="#">
            <img src="/assets/images/mainlogo.png"/></a>
        </div>
      
  
        <ul class="navbar-ul desktop-nav">
          <li class="navbar-item ">
            <a href="/" class="navbar-link " > Home</a>
          </li>
          <li class="navbar-item">
            <a href="/about" class="navbar-link" > About</a>
          </li>
         
          <li class="navbar-item">
            <a href="/services" class="navbar-link" > Services</a>
          </li>
          <li class="navbar-item">
            <a href="/work" class="navbar-link" > Work</a>
          </li>
        
          
          <li class="navbar-item">
            <a href="/contact" class="navbar-link" >Contact</a>
          </li>
          <li class="navbar-item">
            <a href="/blog" class="navbar-link" >Blogs</a>
          </li>
        </ul>
      
      <div class="toggler inactive" id="toggler" onclick="menuClicked()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      
        <ul class="navbar-ul mobile-nav hidemobilenav" id="mobileNav">
          <li class="navbar-item ">
            <a href="/" class="navbar-link " > Home</a>
          </li>
          <li class="navbar-item">
            <a href="/about" class="navbar-link" > About</a>
          </li>
          <li class="navbar-item">
            <a href="/team" class="navbar-link" > Team</a>
          </li>
          <li class="navbar-item">
            <a href="/services" class="navbar-link" > Services</a>
          </li>
          <li class="navbar-item">
            <a href="/work" class="navbar-link" > Work</a>
          </li>
          <li class="navbar-item">
            <a href="/lab" class="navbar-link" >Lab</a>
          </li><li class="navbar-item">
          <li class="navbar-item">
            <a href="/careers" class="navbar-link" > Careers</a>
          </li>
            <a href="/contact" class="navbar-link" >Contact</a>
          </li>
          <li class="navbar-item active">
            <a href="/blog" class="navbar-link" >Blogs</a>
          </li>
        </ul>
      
      
      
      </nav>

      <div class="homepage-container">
        <div class="container">
          <div class="row align-item-center">
            <div class="col-lg-6">
             
              <h2 class="cta-heading">Our clients are all across
                <br />
                <span class="main-heading">  the globe.</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <img src="/assets/images/map.png" style="width: 100%;" />
    </div>
  </div>
</div>








<section class="contact-branches-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 contact-div">
                <h5>SAY HELLO @ BANGALORE  <img class="map-icon" src="./maps-and-flags.svg"/></h5>
                <br/>
                <h6>
                    408, 5th Main Road
HRBR Layout, Kalyan Nagar,
Bengaluru, Karnataka 560043
+91 98507 60989
                </h6>
            </div>
            <div class="col-lg-4 contact-div">
                <h5>SAY HELLO @ BANGALORE <img class="map-icon" src="./maps-and-flags.svg"/></h5>
                <br/>
                <h6>
                    408, 5th Main Road
HRBR Layout, Kalyan Nagar,
Bengaluru, Karnataka 560043
+91 98507 60989
                </h6>
            </div>
            <div class="col-lg-4 contact-div">
                <h5>SAY HELLO @ BANGALORE <img class="map-icon" src="./maps-and-flags.svg"/></h5>
                <br/>
                <h6>
                    408, 5th Main Road
HRBR Layout, Kalyan Nagar,
Bengaluru, Karnataka 560043
+91 98507 60989
                </h6>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
  <div class="container-fluid">
    <div class="row info-box">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter-box">
          <span>20+</span>
          <p>Customers Served</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter-box">
          <span>20+</span>
          <p>UX Researches</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter-box">
          <span>20+</span>
          <p>Design Sprints</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter-box">
          <span>20+</span>
          <p>User Studies</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-9 col-12 connect">
        <span>We’d love to connect with you!</span><br/>
       
      </div>
      <div class="col-lg-5 col-md-9 col-12 connect">
        <a class="no-deco" href="./contact"><button class="custom-btn abouttextcard-button connect-cta">
          VIEW IN DETAIL
        </button></a>
      </div>
    </div>

    <div class="row myfooter">
      <div class="col-lg-3 col-md-4 col-12">
        <div style="display: flex; flex-direction: column;justify-content: center; height: 100%;">
          <span>We are always looking out for talent!</span>
          <a href="mailto:info@sattva-labs.com">info@sattva-labs.com</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-12">
        <h6 class="footer-heading" style="margin-bottom: 15px">Quick Links</h6>

        <p>
          <a href="./team">Team</a><br /><br />
          <a href="./Lab">Lab</a><br /><br />
          <a href="./careers">Careers</a><br /><br />
          <a href="./contact">Contact</a><br /><br />

        </p>
      </div>
      <div class="col-lg-2 col-md-4 col-12">
        <h6 class="footer-heading" style="margin-bottom: 15px">SAY HELLO @MUMBAI</h6>

        <p>
          Worksquare, Saki Naka<br /><br />
          Powai, Mumbai<br /><br />
          Maharashtra<br /><br />

          +91 98507 60989
        </p>
      </div>
      <div class="col-lg-2 col-md-4 col-12">
        <h6 class="footer-heading" style="margin-bottom: 15px">SAY HELLO @NASIK</h6>

        <p>
          1 Unique Heights<br /><br />
          Near Ambad Police Station,<br /><br />
          Ashwin Nagar CIDCO Nashik<br /><br />

          +91 98507 60989
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-12">

        <div id="lab_social_icon_footer">
          <div class="container">
            <div class="text-center center-block">
              <a href="https://www.facebook.com/sattvalabs/"><i style="color:#fff"
                  class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://instagram.com/sattvalabs?igshid=oxt4le9x53vc"><i style="color:#fff" id="social-tw"
                  class="fa fa-instagram fa-3x social"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/sattvalabs"> <i style="color:#fff"
                  id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
              <a target="_blank" href="https://twitter.com/sattvalabs?s=11"><i style="color:#fff" id="social-em"
                  class="fa fa-twitter-square fa-3x social"></i></a>
            </div>
          </div>
        </div>



      </div>
    </div>


    <div style="background-color: #edf9fc;">
      <p style="text-align: center; margin:0;"><span style="color: #0798cd;"><strong>2021 Sattva-labs Innovation Pvt. Ltd</strong></span></p>
    </div>
  </div>
</footer>
</body>

<script>
  const currentLocation = location.href;
  console.log("Current location", location.href);

  const navbarLinks = document.querySelectorAll(".navbar-link");

  console.log(navbarLinks);

  for (let i = 0; i < navbarLinks.length; i++) {
    if (navbarLinks[i].href == currentLocation) {
      console.log(navbarLinks[i]);
      navbarLinks[i].className = "navbar-link  active";
    }
  }

  function menuClicked(){

let toggler = document.getElementById('toggler')
let navMenu = document.getElementById('mobileNav')

navMenu.classList.toggle('showmobilenav')
navMenu.classList.toggle('hidemobilenav')
toggler.classList.toggle('active')
toggler.classList.toggle('inactive')
}


window.addEventListener('scroll', function() { 
  let navbar = document.querySelector('.navbar-container') ;

  let currentPosition = window.scrollY ;

  if(currentPosition>100){
    navbar.classList.add('navbar-white')}
    else{
      navbar.classList.remove('navbar-white')
    }

})



</script>

</html>