<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="./assets/images/favicon.png" type="image/gif" sizes="16x16">

    <title>Login</title>
    <!-- Bootstrap core CSS -->
      
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/footer.css" rel="stylesheet" />
  <link href="/assets/css/navbar.css" rel="stylesheet" />
  <link href="/assets/css/team.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/work.css">

</head>

<body>

    <section class="main-section team-section-header services-section ">
      <div class="home-section-overlay">
    
        <nav class="navbar-container">
          <div class="logo-container">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/mainlogo.png"/></a>
          </div>
        
          <ul class="navbar-ul desktop-nav">
            <li class="navbar-item ">
              <a href="/" class="navbar-link " > Home</a>
            </li>
            <li class="navbar-item">
              <a href="/about" class="navbar-link" > About</a>
            </li>
           
            <li class="navbar-item">
              <a href="/services" class="navbar-link" > Services</a>
            </li>
            <li class="navbar-item">
              <a href="/work" class="navbar-link" > Work</a>
            </li>
          
            
            <li class="navbar-item">
              <a href="/contact" class="navbar-link" >Contact</a>
            </li>
            <li class="navbar-item active">
            <a href="/blog" class="navbar-link" >Blogs</a>
          </li>
          </ul>
        
        
        <div class="toggler inactive" id="toggler" onclick="menuClicked()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        
          <ul class="navbar-ul mobile-nav hidemobilenav" id="mobileNav">
            <li class="navbar-item ">
              <a href="/" class="navbar-link " > Home</a>
            </li>
            <li class="navbar-item">
              <a href="/about" class="navbar-link" > About</a>
            </li>
            <li class="navbar-item">
              <a href="/team" class="navbar-link" > Team</a>
            </li>
            <li class="navbar-item">
              <a href="/services" class="navbar-link" > Services</a>
            </li>
            <li class="navbar-item">
              <a href="/work" class="navbar-link" > Work</a>
            </li>
            <li class="navbar-item">
              <a href="/lab" class="navbar-link" >Lab</a>
            </li><li class="navbar-item">
            <li class="navbar-item">
              <a href="/careers" class="navbar-link" > Careers</a>
            </li>
              <a href="/contact" class="navbar-link" >Contact</a>
            </li>
          </ul>
        
        
        
        </nav>

        <div class="homepage-container">
          <div class="container">
            <div class="row align-item-center">
              <div class="col-lg-8">
              
                <h2 class="cta-heading">Welcome admin,,, Login to start writing blogs
                  <br />
                 
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="container  row m-auto" >

        <div id='hero' class='col-8 m-auto row login-div'>
            <form method="POST" action="/api/admin/signin">
                <div class="form-group col-8 m-auto">
                    <label for="recipient-name" class="col-form-label f-20">Email </label>
                    <input type="email" class="form-control" name='email' id="recipient-name" required>
                </div>
                <div class="form-group col-8 m-auto">
                    <label for="message-text" class="col-form-label f-20">Password</label>
                    <input type="password" class="form-control" name='password' id="recipient-name" required>
                </div>
                <div class='text-center mt-3 '>
                    <button type="submit" class="cta-btn ">Login</button>
                </div>
            </form>
        </div>


</div>
<div style="background-color: #edf9fc; mt-6" style='margin-top:30px'>
        <p style="text-align: center; margin:0;"><span style="color: #0798cd;"><strong>2021 Sattva-labs Innovation Pvt. Ltd</strong></span></p>
      </div></body>

<!-- Mirrored from templates.envytheme.com/ketan/default/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2021 11:47:04 GMT -->

</html>